.infoCovid {
  margin-top: 2.5vh;
  margin-left: 8.3vw;
}

.infoCovid .title h1 {
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin-bottom: 5px;
}

.infoCovid .title p {
  font-size: 1.4rem;
  line-height: 1.4rem;
  width: 27vw;
  color: #828282;
}

.infoCovid .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 54px;
}

.infoCovid .card {
  width: 14.2vw;
  height: 27vh;
  text-align: center;
}

.infoCovid .card p {
  margin-top: 16px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #828282;
}
