{%extends "layout.njk"%}

{%block content%}

<link rel="stylesheet" href="/styles/review.css">

<link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"/>

<body>
  <div class="confirmation-info">
    <h1>Confirmação</h1>
    <p>Confira os dados de sua reserva</p>
  </div>
    <section class="reservations">

  <table cellspacing="0">
      <thead>
        <tr>
          <th>Polo</th>
          <th>Agendado Para</th>
          <th>Estação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="left">{{ reservation.pole }}</td>
          <td>{{ reservation.date }}</td>
          <td>
            {{ reservation.station }}{{ reservation.seat
            }}{{ reservation.floor }}
          </td>
          
        </tr>
      </tbody>
    </table>

  <form action="/confirmation" method="post">
    <a href="/reserve">Voltar</a> <button type="submit" class="confirm">Confirmar</button>
  </form>
  

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
          <i class="material-icons">close</i>
        </a>
      <div class="modal-content">
        <h1> Reserva confirmada! </h1>
        <img src="confirmed.png" alt="">
        <p>Você acaba de confirmar a sua reserva. Para gerenciá-la, acesse “Minhas Reservas” em sua Dashboard. </p>
      </div>
    </div>
  </div>

<script src="/scripts/modal.js"></script>

</body>

{%endblock%}
