{% extends 'layout.njk' %} {% block content %}
<head>
  <title>COVID-19</title>
<link rel="stylesheet" href="covid.css">
</head>



<h1>COVID-19</h1>
<p>Confira as medidas de segurança que a FCamara adotou para tornar o seu trabalho no escritório seguro</p>
<input type="date">

{% endblock %}

