{% extends 'layout.njk' %} {% block content %}
<head>
  <title>COVID-19</title>
<link rel="stylesheet" href="covid.css">
</head>



<h1>COVID-19</h1>
<p>Confira as medidas de segurança que a FCamara adotou para tornar o seu trabalho no escritório seguro</p>

<div class="infoCovid">

  <div class="card">
    <img src="hand.png" alt="">
    <p>Álcool em gel disponibilizado em todas as dependências do prédio</p>
  </div>
  <div class="card">
    <div class="card-img">
      <img src="distance.png" alt="">
    </div>
    
    <p>As estações de trabalho estão organizadas respeitando o distanciamento social</p>
  </div>
  
  <div class="card">
    <img src="virus.png" alt="">
    <p>Sempre use máscara, o virus se espalha pelo ar!</p>
  </div>
  
</div>


{% endblock %}

