{% extends 'layout.njk' %} {% block content %}

<head>
  <title>Dashboard</title>
</head>

<body>
  <link rel="stylesheet" href="dashMain.css" />

  <section class="card">
    <div class="card-title">
      <h2>Informações sobre COVID-19</h2>
      <div class="card-content">
        Conheça os protocolos de segurança adotados para um retorno presencial
        seguro
      </div>
      <button onclick="window.location.href='/covid'">Saiba Mais</button>
    </div>
    <img src="cardImage.png" alt="" />
  </section>

  <div class="reservations-info">
    <h1>Reservas recentes</h1>
    <p>Confira e gerencie as suas últimas reservas</p>
  </div>

  <section class="reservations">
    <table cellspacing="0">
      <thead>
        <tr>
          <th>Polo</th>
          <th>Agendado Para</th>
          <th>Estação*</th>
          <th>Cancelar reserva</th>
        </tr>
      </thead>
      <tbody>
        {% for reservation in data.reservations %}
        <tr>
          <td id="left">{{ reservation.pole }}</td>
          <td>{{ reservation.date }}</td>
          <td>
            {{ reservation.station }}{{ reservation.seat
            }}{{ reservation.floor }}
          </td>
          <td id="rigth" onclick="excluir({{reservation.id}})"> x </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </section>

  <script>

    

     function excluir(id){
      
     alert(id)

     }
    
     </script>
</body>

{% endblock %}
