{% extends 'layout.njk' %}

{% block content %}

<head>
  <title>Dashboard</title>
</head>

<body>

<link rel="stylesheet" href="dashMain.css" />

<section class="card">
  <div class="card-info">
    <h1>Informações sobre COVID-19</h1>
    <p>
      Conheça os protocolos de segurança adotados para um retorno presencial
      seguro.
    </p>
    <button onclick="location.href='/covid'">Saiba Mais</button>
  </div>
</section>

<div class="reservations-info">
  <h1>Reservas Resentes</h1>
  <p>Confira e gerencie as suas últimas reservas</p>
</div>

<section class="reservations">

  <div class="pole" id="pole">
    <h5>Polo</h5>
  </div>

  <div class="date" id="date">
    <h5>Agendado para</h5>
  </div>

  <div class="estation" id="estation">
    <h5>Estação</h5>
  </div>


</section>
<script>
  const token = localStorage.getItem('token')
  if(!token) {
    window.location.replace('http://localhost:3000/login')
  }

  const poleElement = document.getElementById('pole')
  const dateElement = document.getElementById('date')
  const estationElement = document.getElementById('estation')

  async function findAppointments() {
    const result = await fetch('http://localhost:3333/appointments/user', {
      method: 'GET',
      headers: {
        "Accept": "application/json, text/plain, */*",
        "Content-Type": "application/json",
        'Authorization': 'Bearer ' + token
      },
    })

    if (result.status !== 200) {
      window.location.replace('http://localhost:3000/login')
    }

    const data = await result.json()

    data.forEach((appointment) => {
      const poleDiv = document.createElement('div')
      const poleText = document.createTextNode(appointment.pole)
      poleDiv.appendChild(poleText)

      const dateDiv = document.createElement('div')
      const dateText = document.createTextNode(appointment.date.split('T')[0])
      dateDiv.appendChild(dateText)

      const estationDiv = document.createElement('div')
      const estationText = document.createTextNode(appointment.station)
      estationDiv.appendChild(estationText)

      poleElement.appendChild(poleDiv)
      dateElement.appendChild(dateDiv)
      estationElement.appendChild(estationDiv)
    })
  }

  findAppointments();

</script>

</body>

{% endblock %}
