{% extends "index.njk" %}

{% block head %}
    <header>
        <div class="area">Dashboard</div>
        <div class="user">Nome Sobrenome <img src="notification.png" alt=""></div>
    </header>
{% endblock %}