<!DOCTYPE html>
  
</body>

{%block layout%}

<div class="container">

<header>
    <div class="area">{{ location }}</div>
    <div class="user">{{ data.name }} <img src="notification.png" alt="" /></div>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </header>

<section class="menu">
    <div class="logo"><img src="fcamara-logo.png" alt=""></div>
    <div class="links">
      <a href="/" class="dash {{ 'styled' if location == 'Dashboard' }}">
      <span><img src="home.png" alt="" /></span>
      Dashboard
      </a>
      <a href="/reserve" class="calendar {{ 'styled' if location == 'Reservar' }}" >
      <span> <img src="calendar.png" alt="" /></span>
      Reservar</a>
      <a href="/covid" class="covid {{ 'styled' if location == 'COVID-19' }}">
      <span><img src="covid.png" alt="" /></span>
       COVID-19</a>
      <a href="">
        <span><img src="config.png" alt="" /></span>
         Configurações</a>
    </div>
</section>

<main>
  {% block content%} {%endblock%}
</main>

</div>

{%endblock%}