<!DOCTYPE html>
  
</body>
</html>

{%block layout%}



<div class="container">

<header>
    <div class="area">Dashboard</div>
    <div class="user">{{ data.name }} <img src="notification.png" alt="" /></div>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </header>

<section class="menu">
    <div class="logo"><img src="fcamara-logo.png" alt=""></div>
    <div class="links">
      <a href="/" id="dash"><img src="home.png" alt="" />Dashboard</a>
      <a href="/reserve" id="calendar"> <img src="calendar.png" alt="" />Reservar</a>
      <a href="/covid" id="covid"><img src="covid.png" alt="" /> COVID-19</a>
      <a href="/"><img src="config.png" alt="" /> Configurações</a>
    </div>
</section>

<script>

  const menu = document.getElementById('dash ')

  if(window.location.href == "http://localhost:3000/"){
      menu.classList.add('active')
  }
</script>

<main>
  {% block content%} {%endblock%}
</main>

</div>



{%endblock%}