<head>
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <title>Login</title>
  <link rel="stylesheet" href="/styles/login.css" />
</head>

<body>
  <div class="logo"><img src="orangeDesk.png" alt="" /></div>

  <div class="login">
    <div class="title"><h2>Acessar Portal</h2></div>
    <form method="POST" action="/session">
      <div id="email">
        <p>E-mail</p>
        <input type="email" />
      </div>
      <div id="senha">
        <p>Senha</p>
        <input type="password" name="" id="" />
      </div>

      <button type="submit" href="/">Acessar</button>

    </form>
  </div>
</body>
