{% extends "layout.njk"%}

{% block content %}

<head>
  <title>Reservas</title>
</head>

<body>
  <link rel="stylesheet" href="reserve.css" />

  <div class="info">
    <h1>Reserve uma estação de trabalho</h1>
    <p>
      Pensando em sua segurança, os escritórios da FCamara contam com apenas 40%
      de sua ocupação total.
    </p>
  </div>

  <form method="POST" action="reserve">
    <section class="pole-and-date">
      <h1>Selecione o polo de negócio e data desejada</h1>
      <span>
        <input type="radio" name="pole" value="São Paulo" onclick="able()" checked />
        <label for="">São Paulo</label>
        <input
          type="radio"
          name="pole"
          value="Santos"
          onclick="disable()"
        /> <label for="">Santos</label> 
        <input type="date" name="date" />
      </span>
    </section>

<h2 class="that">Escolha a estação e lugar desejado: </h2>

    <div class="bla">

        <section class="station">
        <div class="station">
            <span><input type="radio" name="station" value="E1" id="E1" checked><label for="E1">Estação 01</label></span>
            <img src="station.png" alt="">
        </div>

        <div class="station">
            <span> <input type="radio" name="station" value="E2" id="E2"><label for="E2">Estação 02</label></span>
            <img src="station2.png" alt="" >
        </div>

         <div class="station">
            <span><input type="radio" name="station"  value="E3" id="E3"><label for="E3">Estação 03</label></span>
            <img src="station3.png" alt="">
        </div>

         <div class="station">
            <span><input type="radio" name="station" value="E4" id="E4"><label for="E4">Estação 04</label></span>
            <img src="station.png" alt="">
        </div>
    </section>

    <section class="floor-and-seat">
        <select name="seat" id="seat">
          <option value="">Escolha o seu lugar</option>
        <option value="C1" id="oi">01</option>
        <option value="C2">02</option>
        <option value="C3">03</option>
        <option value="C4">04</option>
        <option value="C5">05</option>
        <option value="C6">06</option>
    </select>

    <select name="floor" id="floor">
        <option value="">Escolha o Andar</option>
        <option value="A1">1° Andar</option>
        <option value="A2">2° Andar</option>
    </select>
    </section>

    </div>
    <button type="submit">Próximo</button>
    
  </form>

  <script>
    let floor = document.getElementById("floor");
    let option1 = document.getElementById("oi")

    option1.addEventListener("click", () => {
      alert("Foi")
    })

    function disable() {
      floor.setAttribute("disabled", "true");
      floor.option.selected = "first52"
    }

    function able() {
      floor.disabled = false;
      floor.style.visibility = "visible";
    }
  </script>
</body>

{% endblock %}
