{% extends "layout.njk"%}

{% block content %}

<head>
  <title>Reservas</title>
</head>

<body>
  <link rel="stylesheet" href="/styles/reserve.css" />

  <div class="info">
    <h1>Reserve uma estação de trabalho</h1>
    <p>
      Pensando em sua segurança, os escritórios da FCamara contam com apenas 40%
      de sua ocupação total.
    </p>
  </div>

  <div class="formclass" method="POST" action="reserve">
    <section class="pole-and-date">
      <h1>Selecione o polo de negócio e data desejada</h1>
      <span>
        <input type="radio" name="pole" value="São Paulo" onclick="able()" checked id="sp" />
        <label for="sp">São Paulo</label>
        <input
          type="radio"
          name="pole"
          id="santos"
          value="Santos"
          onclick="disable()"
          id="sts"
        /> <label for="sts">Santos</label>
        <input type="date" id="date" name="date" />
      </span>
    </section>

    <h2 class="titleStation">Escolha a estação e lugar desejado: </h2>

    <div class="station-container">

        <section class="stations">

        <div class="station">
            <span><input type="radio" name="station" value="E1" id="E1" checked><label for="E1">Sala de Reunião 1</label></span>
            <img src="station.png" alt="">
        </div>

        <div class="station">
            <span> <input type="radio" name="station" value="E2" id="E2"><label for="E2">Sala de Reunião 2</label></span>
            <img src="station2.png" alt="" >
        </div>

         <div class="station">
            <span><input type="radio" name="station"  value="E3" id="E3"><label for="E3">Sala de Reunião 3</label></span>
            <img src="station3.png" alt="">
        </div>

         <div class="station">
            <span><input type="radio" name="station" value="E4" id="E4"><label for="E4">Sala de Reunião 4</label></span>
            <img src="station.png" alt="">
        </div>
    </section>

    <section class="floor-and-seat">
        <select name="seat" id="seat">
          <option value="">Escolha o seu lugar</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
    </select>

    <select name="floor" id="floor">
        <option value="">Escolha o andar</option>
        <option value="1" id="A1" >1° Andar</option>
        <option value="2">2° Andar</option>
    </select>
    </section>

    </div>
    <button class="nextbutton" onclick="submit()">Próximo</button>

  </div>

  <script>
    const floorElement = document.getElementById("floor");
    const seatElement = document.getElementById("seat")
    const dateElement = document.getElementById("date")
    const spElement = document.getElementById("sp")

    const stationElements = []
    for (let x = 1; x < 5; x++) {
      stationElements.push(document.getElementById('E' + x))
    }

    function disable() {
      floorElement.value = "1";
      floorElement.style.visibility = "hidden"
    }

    function able() {
      floorElement.value = "";
      floorElement.style.visibility = "visible"
    }

    function getStationNumber() {
      for (let x = 0; x < 4; x++) {
        if (stationElements[x].checked) {
          return x + 1
        }
      }
    }

    function getFormData() {
      const floorNumber = (floorElement.value === '1') ? 1 : 2
      const stationNumber = getStationNumber()
      const seatNumber = seatElement.value

      return `A${floorNumber}E${stationNumber}C${seatNumber}`
    }

    function submit() {
      const station = getFormData()
      const date = dateElement.value
      const pole = spElement.checked ? 'São Paulo' : 'Santos'


      localStorage.setItem('pole', pole)
      localStorage.setItem('date', date)
      localStorage.setItem('station', station)
      window.location.replace("http://localhost:3000/review")
    }

  </script>
</body>

{% endblock %}
