{%extends "layout.njk"%}

{%block content%}

<link rel="stylesheet" href="review.css">
<link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"/>

<body>
  <div class="confirmation">
    <h1>Confirmação</h1>
    <p>Confira os dados de sua reserva</p>

    <section class="reservations">

  <div class="pole">
    <h5>Polo</h5>
     <div>{{reservation.pole}}  
     </div>    
  </div>


  <div class="date">
    <h5>Agendado para</h5>
    <div>{{reservation.date}}</div> 
  </div>

  <div class="estation">
    <h5>Estação</h5>
    <div>{{reservation.station}}{{reservation.seat}}</div> 
  </div>

  <form action="/confirmation" method="post">
    <button type="submit" class="confirm">Confirmar</button>
  </form>
  </div>

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
          <i class="material-icons">close</i>
        </a>
      <div class="modal-content">
        <h1> Reserva confirmada! </h1>
        <img src="confirmation.png" alt="">
        <p>Você acaba de confirmar a sua reserva. Para conferir maiores informações, acesse "Minhas Reservas".</p>
      </div>
    </div>
  </div>

<script src="modal.js"></script>

</body>

{%endblock%}
