{%extends "layout.njk"%}

{%block content%}

<style>
    .confirmation{
    margin-left:128px;
    margin-top: 46px;
    
    }

    .confirmation p{
    font-size:12px;
    color: #828282;
    margin-bottom:50px;
    }

    .reservations{
    font-size: 14px;
    text-align:center;
    width:480px;
    display:flex;
    justify-content:space-between
    }

</style>

<body>
  <div class="confirmation">
    <h1>Confirmação</h1>
    <p>Confira os dados de sua reserva</p>

    <section class="reservations">

  <div class="pole">
    <h5>Polo</h5>
     <div> {{data.reservations[data.reservations.length -1].pole}}  
     </div>    
  </div>

  <div class="date">
    <h5>Agendado para</h5>
    <div>{{data.reservations[data.reservations.length -1].date}}</div> 
  </div>

  <div class="estation">
    <h5>Estação</h5>
    <div>{{data.reservations[data.reservations.length -1].station}} {{data.reservations[data.reservations.length -1].seat}}</div> 
  </div>

  </div>
</body>

{%endblock%}
